[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
soundfile = "*"
sounddevice = "*"
scipy = "*"
readchar = "*"
tk = "*"
pyyaml = "*"
music21 = "*"
wxpython = "*"
pyserial = "*"
pydrive = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.12"
