[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
soundfile = "*"
sounddevice = "*"
scipy = "*"
readchar = "*"
coverage = "*"
tk = "*"
pillow = "*"
pyyaml = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.10"
